[submodule "thirdparty/dawn"]
	path = thirdparty/dawn
	url = https://dawn.googlesource.com/dawn
[submodule "thirdparty/reflection"]
	path = thirdparty/reflection
	url = https://github.com/DarcJC/CPP-Reflection.git
